<div class="flex-column">
    <h3>Add new class!</h3>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)" class="flex-column">
        <div class="flex-row div-margin">
            <div class="label"><label>Name:</label></div>
            <input name="name" formControlName="name"  type="text">
        </div>
        
        <div class="div-margin">
            <button mat-button color="primary" type="submit"> + </button>
        </div>
        
        <div class="div-margin">
            <button mat-button color="primary" type="button" (click)="hideNewClass()"> - </button>
        </div>
        
        <div *ngIf="errors.length != 0">
            <p *ngFor='let error_text of errors'>
                {{error_text}}
            </p>
        </div>
    </form>
</div>