<div *ngIf="data != undefined" class="flex-column">
    <!-- <p>schedule-details works!</p> -->
    <!-- <p>{{ data?.id }}</p> -->
    <p>Name: {{ data.schedule.name }}</p>
    <p>Semester: {{ data.schedule.semester }}</p>   
    <p>Description: {{ data.schedule.description }}</p>  
    <p>Status: {{ data.schedule.status }}</p> 
    
    <button mat-button color="primary" (click)="updateSchedule()">Update Schedule</button>
    <button mat-button color="primary" (click)="deleteSchedule()">Delete Schedule</button>
    
    <mat-divider></mat-divider>
    <button mat-button color="primary" (click)="addClass()">Add Class</button>
    <mat-accordion>
        <mat-expansion-panel (opened)="classpanelOpenState"
                             (closed)="classpanelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Classes
                </mat-panel-title>
                <!-- <mat-panel-description> -->
                <!-- </mat-panel-description> -->
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>
            <app-class-overview [data]="data"></app-class-overview>
            <app-new-class *ngFor="let class of classes; index as i"
                [component_id]=class 
                [schedule_id]="data.schedule.id"
                (hideEvent)="hideNewClass($event)">
                <mat-divider></mat-divider>
            </app-new-class>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel (opened)="userpanelOpenState"
                             (closed)="userpanelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Users
                </mat-panel-title>
                <!-- <mat-panel-description> -->
                <!-- </mat-panel-description> -->
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>
            <ul *ngFor="let user of data.users">
                {{user.name}} {{user.surname}}
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <!-- <p>{{ data.id }}</p> -->
</div>