<div class="flex-column">
    <!-- <p>schedule-details works!</p> -->
    <!-- <p>{{ data?.id }}</p> -->
    <p>Name: {{ data?.name }}</p>
    <p>Semester: {{ data?.semester }}</p>   
    <p>Description: {{ data?.description }}</p>  
    <p>Status: {{ data?.status }}</p> 
    
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState"
                             (closed)="panelOpenState">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Classes
                </mat-panel-title>
                <mat-panel-description>
                    <button (click)="addClass()">Add Class</button>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>
            <app-class-overview [data]="data?.classes"></app-class-overview>
        </mat-expansion-panel>
    </mat-accordion>
    <!-- <p>{{ data.id }}</p> -->
</div>