<div class="flex-column">
    <h3  mat-dialog-title>Add new group for Class {{data.class_id}}!</h3>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()" class="flex-column">
        <mat-form-field appearance="fill">
            <mat-label>Day</mat-label>
            <mat-select formControlName="day">
                <mat-option [value]=1>Monday</mat-option>
                <mat-option [value]=2>Tuesday</mat-option>
                <mat-option [value]=3>Wednesday</mat-option>
                <mat-option [value]=4>Thursday</mat-option>
                <mat-option [value]=5>Friday</mat-option>
                <mat-option [value]=6>Saturday</mat-option>
                <mat-option [value]=7>Sunday</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex-row">
            <label class="label">Start:</label>
            <ngb-timepicker name="start" formControlName="start"></ngb-timepicker>
            <!-- <input name="start" formControlName="start"  type="datetime-local"> -->
        </div>
        
        <div class="flex-row">
            <label class="label">End:</label> 
            <ngb-timepicker name="end" formControlName="end"></ngb-timepicker>
        </div>
        
        <mat-form-field appearance="fill">
            <mat-label>Professor</mat-label>
            <mat-select formControlName="professor_id">
                <mat-option *ngFor="let professor of professors" [value]="professor.id">
                    {{professor.surname}} {{professor.name}} 
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-stroked-button color="primary" type="submit">Add</button>
        <button mat-stroked-button color="primary" type="button" mat-dialog-close>Close</button>

        <div *ngIf="errors.length != 0">
            <p *ngFor='let error_text of errors'>
                {{error_text}}
            </p>
        </div>
    </form>
</div>