<div class="flex-column">
    <h3 mat-dialog-title>Add new schedule!</h3>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)" class="flex-column">
        <div class="flex-row div-margin">
            <div class="label"><label>Name:</label></div>
            <input name="name" formControlName="name"  type="text">
        </div>
        <div class="flex-row div-margin">
            <div class="label"><label>Semester:</label></div>
            <input name="semester" formControlName="semester"  type="number">
        </div>
        <div class="flex-row div-margin">
            <div class="label"><label>Description:</label></div>
            <input name="description" formControlName="description"  type="text">
        </div>
        
        <div class="div-margin">
            <button mat-stroked-button color="primary" type="submit">Add</button>
            <button mat-stroked-button color="primary" type="button" [mat-dialog-close]="null">Close</button>
        </div>
        <div *ngIf="errors.length != 0">
            <p *ngFor='let error_text of errors'>
                {{error_text}}
            </p>
        </div>
    </form>

</div>
