<div class="flex-column">
    <h3 *ngIf="data.field==null" mat-dialog-title>Add new Field Of Study!</h3>
    <h3 *ngIf="data.field!=null" mat-dialog-title>Modify Field Of Study!</h3>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()" class="flex-column">
        
        <mat-form-field class="flex-row div-margin">
            <mat-label>Name:</mat-label>
            <input matInput  name="name" formControlName="name"  type="text">
        </mat-form-field>

        <mat-form-field class="flex-row div-margin">
            <mat-label>Short name:</mat-label>
            <input matInput  name="short_name" formControlName="short_name"  type="text">
        </mat-form-field>
        
        <mat-form-field class="flex-row div-margin">
            <mat-label>Start Year:</mat-label>
            <input matInput  name="start_year" formControlName="start_year"  type="text">
        </mat-form-field>

        <mat-form-field class="flex-row div-margin">
            <mat-label>Cycle:</mat-label>
            <input matInput  name="cycle" formControlName="cycle"  type="number">
        </mat-form-field>

        <div class="div-margin">
            <button *ngIf="data.field==null" mat-stroked-button color="primary" type="submit">Add</button>
            <button *ngIf="data.field!=null" mat-stroked-button color="primary" type="submit">Modify</button>
            <button mat-stroked-button color="primary" type="button" [mat-dialog-close]="null">Close</button>
        </div>
        <div *ngIf="errors.length != 0">
            <p *ngFor='let error_text of errors'>
                {{error_text}}
            </p>
        </div>
    </form>

</div>