<div *ngIf="data != undefined" class="flex-column">
    <div *ngFor="let class of (data.schedule.classes); index as i"
        class="schedule-box">
        <p>{{ class.name }}</p>
        <p>Groups:</p>
        <li *ngFor="let group of class.groups">
            {{getWeekDay(group.day)}} {{group.start}}-{{group.end}} 
            Professor: {{getProfessor(group.professor_id)}}
            Type: {{group.type}}
            <button mat-stroked-button color="primary" (click)="deleteGroup(class, group.id)">Delete Group</button>
        </li>    
        <button mat-stroked-button color="primary" (click)="addGroup(class.id)">Add Group</button>
        <mat-divider></mat-divider>
    </div>
</div>
